include ../components/head/head.pug

include ../components/header/header.pug
include ../components/main/main.pug
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")

    head
        +head()

    body.page
        +header()
        +main()
        +footer()
        script(src='%=static=%js/main%=hash=%%=min=%.js')