.contact-phones{

    list-style: none;
    padding-left: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;

    &__item{
        font-size: 40px;
        line-height: 50px;
    }

    &__link{
        color: #767676;
        text-decoration: none;
        white-space: nowrap;
        &:hover{
            color: #444;
        }
    }

}
