include ../../components/navigation/navigation
include ../../components/contactPhones/contactPhones

mixin pageHeader(data)
    .page-header
        .page-header__columns
            .page-header__column.page-header__column--left
                a(href="/")
                    img(src="%=static=%img/general/logo.png" alt="Название компании")
            .page-header__column.page-header__column--right
                +contactPhones()
                a.page-header__feedback-link(href="#") Обратная связь
    .navigation
        +navigation()