include ../../components/subnavigation/subnavigation
include ../../components/slider/slider
include ../../components/breadcrumbs/breadcrumbs
include ../../components/paginator/paginator
include ../../components/productCard/productCard

mixin main(data)
    .main

        +slider()

        .row
            .row__cell
                +breadcrumbs()

        .row.row--wrap
            aside.row__cell.main__sidebar
                +subnavigation()
                a.button(href="#" title="Скачать прайс-лист")
                    img.button__glyph(src="%=static=%img/general/price-list.png" alt="Прайс-лист")
            main.row__cell.main__content
                .products-list
                    +productCard()
                    +productCard()
                    +productCard()
                    +productCard()
                    +productCard()
                    +productCard()
                +paginator()
                .main__bottomline
                    .row
                        .row__cell
                            | Компания существует более 6 лет, за это время мы принимали участие в разработке более чем 700 сайтов, поэтому можем уверенно называть себя профессионалами. На данный момент наш коллектив состоит из более чем 30 сотрудников работающих в двух офисах в Москве и Зеленограде.характерные для этого жанра мотивы: неразделённой любви, ухода молодости, угасания души.
                        .row__cell
                            | Одним из основных направлений работ нашей компании является поисковое продвижение сайтов, на данной момент мы работаем с более чем 150 постоянными клиентами по более чем 11 000 поисковым запросам. При этом в работе основной акцент мы делаем на качестве работ, а так же применяем собственные уникальные разработки в области SEO продвижения. На данный момент отдел SEO состоит из 9 человек под руководством ведущего специалиста, преимущественно работающих в нашем московском офисе.