mixin slider(data)
    .slider
        .owl-carousel
            div.slider__slide
                img(src="http://lorempixel.com/800/200/food/1")
            div.slider__slide
                img(src="http://lorempixel.com/800/200/people/1")
            div.slider__slide
                img(src="http://lorempixel.com/800/200/animals/1")
            div.slider__slide
                img(src="http://lorempixel.com/800/200/nature/1")

        .slider__controls