mixin slider(data)
    .slider
        .owl-carousel
            div.slider__slide
                img(src="%=static=%img/general/slide-01.png")
            div.slider__slide
                img(src="%=static=%img/general/slide-02.png")
            div.slider__slide
                img(src="%=static=%img/general/slide-03.png")
            div.slider__slide
                img(src="%=static=%img/general/slide-04.png")
            div.slider__slide
                img(src="%=static=%img/general/slide-05.png")
        .slider__controls