mixin breadcrumbs(data)
    ul.breadcrumbs
        li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
        li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Каталог
        li.breadcrumbs__item Бытовая техника